.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.search {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: auto;
}

.search-bar {
    width: 50%;
    height: 10%;
    margin: auto;
}

.search-location, .declined-location {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    padding-top: 5em;
}

.location-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
    border: 2px solid #5f5f5f;
    border-radius: 20px;
    background-color: #cceff3;
    text-align: center;
}

.full {
    display: none;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.zoom {
    transition: .2s;
}

.zoom:hover {
    transform: scale(1.2);
    z-index: 1;
    cursor: pointer;
}

.declined-location {
    font-size: 1em;
    padding: 5em 1em 1em 1em;
}

@media only screen and (max-width: 560px) {
    .search-bar {
        width: 70%;
    }
    .search-location {
        padding-top: 20%;
    }
}