.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.search {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.search-bar {
    width: 50%;
    height: 10%;
    margin: auto;
}

.search-location, .declined-location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: auto;
}

.location-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
    border: 2px solid #595959;
    border-radius: 20px;
    background-color: #cceff3;
    text-align: center;
}

.full {
    display: none;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.zoom {
    transition: .2s;
}

.zoom:hover {
    transform: scale(1.2);
    z-index: 1;
    cursor: pointer;
}

.declined-location {
    font-size: 1em;
    padding: 5em 1em 1em 1em;
}

.cloud-sun {
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.cloud, .sun {
    grid-column: 1;
    grid-row: 1;
    margin: auto;
}

.cloud {
    z-index: 2;
}

.cloud-icon {
    width: 250px;
    height: 250px;
    max-height: 100%;
    max-width: 100%;
}

.sun-icon {
    max-height: 100%;
    max-width: 100%;
}

.sun {
    z-index: 1;
}

.sun-rise, .sun-set {
    margin-left: 70px;
    margin-top: 30px;
    z-index: 1;
    transition: all 0.4s cubic-bezier(0.32, 0, 0.67, 0);
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.sun-set {
    animation-name: sunset; 
}

.sun-rise {
    animation-name: sunrise;
}


@keyframes sunrise {
   0% {
        transform: translate(0px, 0px)
   }
   100% {
      transform: translate(-90px, -80px)
    }
}

@keyframes sunset {
    0% {
        transform: translate(-90px, -80px)
   }
   100% {
        transform: translate(0px, 0px)
    }
}

@media only screen and (max-width: 560px) {
    .search-bar {
        width: 70%;
    }
}
