.border-shadow {
    border-radius: 10px;
    box-shadow: 9px 10px 48px -6px rgba(110,110,110,0.8);
    -webkit-box-shadow: 9px 10px 48px -6px rgba(110,110,110,0.8);
    -moz-box-shadow: 9px 10px 48px -6px rgba(110,110,110,0.8);
}